<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hunric.mapper.MerchantMapper">
    <!-- 商家结果映射 -->
    <resultMap id="merchantMap" type="com.hunric.model.Merchant">
        <id property="merchantId" column="merchant_id"/>
        <result property="merchantName" column="merchant_name"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="merchantType" column="merchant_type"/>
        <result property="businessLicenseNo" column="business_license_no"/>
        <result property="legalPersonName" column="legal_person_name"/>
        <result property="legalPersonIdCard" column="legal_person_id_card"/>
        <result property="contactPersonName" column="contact_person_name"/>
        <result property="contactPhone" column="contact_phone"/>
        <result property="contactEmail" column="contact_email"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="county" column="county"/>
        <result property="district" column="district"/>
        <result property="detailedAddress" column="detailed_address"/>
    </resultMap>
    
    <!-- 商家表的所有字段 -->
    <sql id="allColumns">
        merchant_id, merchant_name, merchant_type, email, password, 
        business_license_no, legal_person_name, legal_person_id_card, 
        contact_person_name, contact_phone, contact_email, 
        province, city, county, district, detailed_address
    </sql>
    
    <!-- 插入新商家 -->
    <insert id="insert" parameterType="com.hunric.model.Merchant" useGeneratedKeys="true" keyProperty="merchantId" keyColumn="merchant_id">
        INSERT INTO merchant_info (
            merchant_name, phone_number, email, password, merchant_type,
            business_license_no, legal_person_name, legal_person_id_card, 
            contact_person_name, contact_phone, contact_email, 
            province, city, county, district, detailed_address
        ) VALUES (
            #{merchantName}, #{phoneNumber}, #{email}, #{password}, 
            #{merchantType},
            #{businessLicenseNo}, #{legalPersonName}, #{legalPersonIdCard}, 
            #{contactPersonName}, #{contactPhone}, #{contactEmail}, 
            #{province}, #{city}, #{county}, #{district}, #{detailedAddress}
        )
    </insert>
    
    <!-- 更新商家信息 -->
    <update id="update" parameterType="com.hunric.model.Merchant">
        UPDATE merchant_info
        <set>
            <if test="merchantName != null">merchant_name = #{merchantName},</if>
            <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
            <if test="merchantType != null">merchant_type = #{merchantType},</if>
            <if test="businessLicenseNo != null">business_license_no = #{businessLicenseNo},</if>
            <if test="legalPersonName != null">legal_person_name = #{legalPersonName},</if>
            <if test="legalPersonIdCard != null">legal_person_id_card = #{legalPersonIdCard},</if>
            <if test="contactPersonName != null">contact_person_name = #{contactPersonName},</if>
            <if test="contactPhone != null">contact_phone = #{contactPhone},</if>
            <if test="contactEmail != null">contact_email = #{contactEmail},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="county != null">county = #{county},</if>
            <if test="district != null">district = #{district},</if>
            <if test="detailedAddress != null">detailed_address = #{detailedAddress},</if>
        </set>
        WHERE merchant_id = #{merchantId}
    </update>
    
    <!-- 根据ID查询商家 -->
    <select id="selectById" resultMap="merchantMap">
        SELECT <include refid="allColumns"/>
        FROM merchant_info
        WHERE merchant_id = #{merchantId}
    </select>
    
    <!-- 根据邮箱查询商家 -->
    <select id="selectByEmail" resultMap="merchantMap">
        SELECT <include refid="allColumns"/>
        FROM merchant_info
        WHERE email = #{email}
    </select>
    
    <!-- 根据商家名称查询商家 -->
    <select id="selectByMerchantName" resultMap="merchantMap">
        SELECT <include refid="allColumns"/>
        FROM merchant_info
        WHERE merchant_name = #{merchantName}
    </select>
    
    <!-- 根据营业执照编号查询商家 -->
    <select id="selectByBusinessLicenseNo" resultMap="merchantMap">
        SELECT <include refid="allColumns"/>
        FROM merchant_info
        WHERE business_license_no = #{businessLicenseNo}
    </select>
    
    <!-- 根据法人身份证号查询商家 -->
    <select id="selectByLegalPersonIdCard" resultMap="merchantMap">
        SELECT <include refid="allColumns"/>
        FROM merchant_info
        WHERE legal_person_id_card = #{legalPersonIdCard}
    </select>
    
    <!-- 根据条件查询商家列表 -->
    <select id="selectList" parameterType="com.hunric.model.Merchant" resultMap="merchantMap">
        SELECT <include refid="allColumns"/>
        FROM merchant_info
        <where>
            <if test="merchantName != null and merchantName != ''">
                AND merchant_name LIKE CONCAT('%', #{merchantName}, '%')
            </if>
            <if test="merchantType != null and merchantType != ''">
                AND merchant_type = #{merchantType}
            </if>
            <if test="email != null and email != ''">
                AND email = #{email}
            </if>
            <if test="businessLicenseNo != null and businessLicenseNo != ''">
                AND business_license_no = #{businessLicenseNo}
            </if>
        </where>
        ORDER BY merchant_id DESC
    </select>
</mapper> 